[submodule "fuzzing/heartbleed/openssl"]
	path = fuzzing/heartbleed/openssl
	url = https://github.com/openssl/openssl/
[submodule "fuzzing/libxml2/libxml2"]
	path = fuzzing/libxml2/libxml2
	url = https://github.com/GNOME/libxml2
[submodule "fuzzing/go-fuzz-corpus"]
	path = fuzzing/go-fuzz-corpus
	url = https://github.com/dvyukov/go-fuzz-corpus
[submodule "virtual-machines/windows/Virtual-Desktop-Optimization-Tool"]
	path = virtual-machines/windows/Virtual-Desktop-Optimization-Tool
	url = https://github.com/The-Virtual-Desktop-Team/Virtual-Desktop-Optimization-Tool
[submodule "virtual-machines/windows/Windows-10-optimize-script"]
	path = virtual-machines/windows/Windows-10-optimize-script
	url = https://github.com/Fahim732/Windows-10-optimize-script
[submodule "fuzzing/ftp/mutiny-fuzzer"]
	path = fuzzing/ftp/mutiny/mutiny-fuzzer
	url = https://github.com/Cisco-Talos/mutiny-fuzzer
[submodule "fuzzing/ftp/boofuzz/boofuzz-fuzzer"]
	path = fuzzing/ftp/boofuzz/boofuzz-fuzzer
	url = https://github.com/jtpereyda/boofuzz
