[submodule "fuzzing/heartbleed/openssl"]
	path = fuzzing/heartbleed/openssl
	url = https://github.com/openssl/openssl/
[submodule "fuzzing/libxml2/libxml2"]
	path = fuzzing/libxml2/libxml2
	url = https://github.com/GNOME/libxml2
[submodule "fuzzing/ftp/boofuzz"]
	path = fuzzing/ftp/boofuzz
	url = https://github.com/jtpereyda/boofuzz
[submodule "fuzzing/go-fuzz-corpus"]
	path = fuzzing/go-fuzz-corpus
	url = https://github.com/dvyukov/go-fuzz-corpus
[submodule "static-analysis/webgoat"]
	path = static-analysis/webgoat
	url = https://github.com/rnatella/WebGoat
